body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-size: 15px;
	color: hsl(234, 12%, 34%);
	background-color: #f4f4f4;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}

.grey-text {
	color: hsl(229, 6%, 66%);
	font-weight: 400;
	font-size: 15px;
}

.header-div {
	padding-top: 2rem;
	min-height: 20vh;
	max-height: 30vh;
	text-align: center;
	font-size: 24px;
}

.card-div {
	display: flex;
	flex: initial;
	justify-content: center;
	align-items: center;
	padding-right: 10vw;
	padding-left: 10vw;
}

.card, .card-holder {
	margin: 1rem;
	min-width: 30%;
}

.card-holder {
	padding: 0px;
}

.card-style {
	margin-bottom: 1rem;
	margin-top: 1rem;
	border-top: 6px outset black;
	background-color: #ffffff;
	box-shadow: -1px 3px 10px 1px hsl(229, 6%, 66%);
	padding: 8px;
}

.card-icon {
	text-align: right;
}

.text-w-200 {
	font-weight: 200;
}

.text-w-400 {
	font-weight: 400;
}

.text-w-600 {
	font-weight: 600;
}

#card1 {
	border-color: hsl(180, 62%, 55%);
}

#card2 {
	border-color: hsl(0, 78%, 62%);
}

#card3 {
	border-color: hsl(34, 97%, 64%);
}

#card4 {
	border-color: hsl(212, 86%, 64%);
}

.attribution { 
	font-size: 12px; 
	text-align: center; 
}

a {
	color: #3abd74;
	text-decoration: none;
}

@media (max-width: 700px) {
	.card-div {
		flex-direction: column;
	}
	.card {
		width: 95%;
	}
	.card-holder {
		width: 100%;
	}
}